body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  max-width: 70%;
  margin: 6rem auto 6rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  border: 0.2rem solid black;
  padding: 2rem;
}

.card__body {
  & * {
    margin-bottom: 1rem;
  }
}

.card__btn {
  border: 0.2rem solid black;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 3rem 1rem 3rem;
  &:hover {
    background-color: gray;
  }
}


.card__input{
  border: 0.2rem solid black;
  background-color: white;
  width: 100%;
  padding: .5rem 1rem .5rem 1rem;
}

.none {
  display: none;
}
