<div class="services">
  <button
    *ngFor="let service of services; index as i"
    class="service my-2 w-full flex gap-2 justify-between px-5 py-4"
    [ngClass]="service.selected ? 'bg-[#82BA60]' : 'bg-[#DF4E7A]'"
    (click)="selectHandler(i)"
  >
    <span>{{ service.name }}</span>
    <span class="self">${{ service.cost }}.00</span>
  </button>
  <div
    class="total my-2 w-full flex gap-2 justify-between px-5 py-4 border-t border-white"
  >
    <span>Total:</span> <span>${{ total }}.00</span>
  </div>
</div>
