/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;


  font-family: "Roboto Condensed";
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sign-up-screen {
  background-color: #ffffff;
  width: 428px;
  border-radius: 10px;
  box-shadow: 1.5em 1.5em 3em rgb(198, 198, 198);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.row {
  display: flex;
  flex-direction: row;
}

.justify {
  justify-content: space-around;
}

.center-align {
  align-self: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-text-box {
  border: none;
  border-radius: 0.3rem;
  background-color: #fafafa;
  width: 100%;
  height: 2.5rem;
}

.divider-bar {
  background-color: #ececee;
  width: 100%;
  height: 2px;
}

.fade {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn--mono {
  border: 1px solid #ececee;
  border-radius: 0.3rem;
  padding: 12px 75px 8px 75px;
  &:hover {
    border-color: gray;
    background-color: gray;
  }
}

.btn--purple {
  background-color: #651fff;
  color: white;
  border: none;
  border-radius: 0.3rem;
  border: 1px solid #651fff;
  padding: 12px 0 12px 0;
  &:hover {
    background-color: white;
    color: #651fff;
  }
}

.slider {
  width: 30px;
  height: 15px;
  background: #555;
  position: relative;
  border-radius: 5px;
  & label input[type="checkbox"] {
    visibility: hidden;
  }
}

.p-bot-16 {
  padding-bottom: 16px;
}

.m-top-12 {
  margin-top: 12px;
}
.m-bot-32 {
  margin-bottom: 32px;
}

.m-top-32 {
  margin-top: 32px;
}
.purple-text {
  color: #651fff;
  &:hover {
    color: #9a6bff;
  }
}

.intern-fnt{
  font-family: "Inter";
}