:root {
  --screen-bg: white;
  --text-bg: #fafafa;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  font-family: "Roboto Condensed";
  background-color: var(--text-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.vh {
  height: 1vh;
  display: flex;
  align-items: center;
}

.screen-container {
  padding: 32px;
}

.sign-up-screen {
  background-color: var(--screen-bg);
  width: 428px;
  border-radius: 10px;
  box-shadow: 1.5em 1.5em 3em rgb(198, 198, 198);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.contact-us-screen {
  background-color: var(--screen-bg);
  width: 665px;
  border-radius: 10px;
  box-shadow: 1.5em 1.5em 3em rgb(198, 198, 198);

  &.--two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .info-section {
      border-radius: 10px 0px 0px 10px;
      background-color: #651fff;
      max-width: 216px;
      & .container {
        padding: 46px 16px 32px 16px;
      }
    }

    & .fields .container {
      width: 449px;
      padding: 32px 16px 32px 32px;
    }
  }
}
.contact-us-form {
  display: flex;
  flex-direction: column;
  & .btn.--purple {
    align-self: end;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.two-colum-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  & .span-colums {
    grid-column: 1/3;
  }
}

.justify {
  justify-content: space-around;
}

.center-align {
  align-self: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-text-box {
  border: none;
  border-radius: 0.3rem;
  background-color: var(--text-bg);
  width: 100%;

  max-width: 100%;
  height: 2.5rem;

  &.--h-152 {
    height: 152px;
  }

  &.--resize-none {
    resize: none;
  }
}

.divider-bar {
  background-color: #ececee;
  width: 100%;
  height: 2px;
}

.fade {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn {
  &.--mono {
    border: 1px solid #ececee;
    border-radius: 0.3rem;
    &:hover {
      border-color: black;
      background-color: black;
      & img {
        -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
        filter: invert(100%);
      }
    }
  }

  &.--purple {
    background-color: #651fff;
    color: white;
    border: none;
    border-radius: 0.3rem;
    border: 1px solid #651fff;
    &:hover {
      background-color: white;
      color: #651fff;
    }
  }
  &.--height-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &.--sides-75 {
    padding-left: 75px;
    padding-right: 75px;
  }
  &.--sides-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 0.25rem;
  border: 1px solid #d3d3d3;
  background-color: var(--screen-bg);

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & .checkmark:after {
    left: 6.3px;
    top: 1.2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      background-color: blue;
      border-color: #fd7918;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  &:hover input ~ .checkmark {
    background-color: var(--text-bg);
  }

  &.--orange input:checked ~ .checkmark {
    background-color: #fd7918;
    border-color: #fd7918;
  }
}

.slider {
  width: 30px;
  height: 15px;
  background: #555;
  position: relative;
  border-radius: 5px;
}

.p-bot-16 {
  padding-bottom: 16px;
}

.p-bot-32 {
  padding-bottom: 32px;
}

.p-bot-72 {
  padding-bottom: 72px;
}

.p-right-8 {
  padding-right: 8px;
}

.p-right-16 {
  padding-right: 16px;
}

.m-top-12 {
  margin-top: 12px;
}
.m-bot-32 {
  margin-bottom: 32px;
}

.m-top-32 {
  margin-top: 32px;
}

.purple-text {
  color: #651fff;
  &.--hover:hover {
    color: #9a6bff;
  }
}

.white-text {
  color: white;
}

.title {
  font-size: 28px;
}

.intern-fnt {
  font-family: "Inter";
}

.inline {
  display: inline-flex;
}

@media (max-width: 670px) {
  .screen-container {
    padding: 16px;
  }
  .sign-up-screen {
    width: 343px;
  }
  .contact-us-screen {
    width: 343px;
    &.--two .fields .container {
      width: 343px;
    }
  }
  .contact-us-form .btn.--purple {
    align-self: center;
  }

  .info-section {
    display: none;
  }

  .btn {
    &.--height-16 {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    &.--sides-75 {
      padding-left: 60px;
      padding-right: 60px;
    }
    &.--stretch-max {
      width: 100%;
    }
  }
  .two-colum-grid {
    display: flex;
    flex-direction: column;
  }

  .p-right-16 {
    padding-right: 0;
  }
}
