::root {
  @import url("https://fonts.googleapis.com/css2?family=Heebo");
}

body {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

.cont {
  width: 82%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

//!2 colum grid
.c2-g {
  // max-width: 82%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.span-c {
  grid-column: 1/3;
}
.nav__burger {
  display: none;
}

.cards__body {
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.cards__title {
  font-size: 1.3rem;
  font-weight: lighter;
  padding-bottom: 1rem;
}
.cards__grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
  place-items: center;
}

.card__divider {
  padding-top: 2rem;
  background-color: red;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container {
  width: 40%;
}

.footer__icons {
  padding-bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .c2-g {
    display: flex;
  }
  .nav__burger {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 10px;
  }
  .nav__item {
    display: none;
  }
}
