body {
  background-color: #212022;
  color: white;
}

.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}
.col{
  flex-direction: column;
}

.btn {
  font-size: 5rem;
  background-color: #363537;
  color: white;
  border-color: #363537;
  border-width: 4px;
  border-radius: 9px;
  border-style: solid;
  &:hover{
   border-color: gray; 
  }
}

.btn-play{
  padding: 8rem 5rem 8rem 5rem;
}

.none{
  display: none;
}

.hidden{
  visibility: hidden;
}
.grid{
  display: grid;
  gap: 20px;
}