* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Hind Siliguri";
  font-weight: bold;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-bar {
  margin-top: 2rem;
  margin-bottom: 8.4rem;
}

.header-nav {
  color: black;
  display: flex;
  gap: 2rem;
}

.header-cta .btn {
  color: orange;
  padding: 0.4rem.4rem;
  border: 1px solid orange;
  border-radius: 10px;
  background: white;
}

.flex-spaced-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav nav {
  display: flex;
  justify-content: space-between;
}

.text-block {
  padding: 0.5rem;
}

.promo-header {
  width: 100%;
  padding-top: 92px;
  background-color: orange;
}

.promo-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.promo-main {
  width: 100%;
  background-color: white;
  display: inline-block;
}

.promo-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 70px 0;
}

.title {
  color: #292830;
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bolder;
}

.text {
  font-size: 1.2rem;
  color: #bdbdbd;
}

.segment {
  display: flex;
  gap: 2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn span a {
  padding: 10px;
}

.btn--orange {
  background-color: orange;
}

.btn--white {
  background-color: whitesmoke;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.demo-btn {
  padding: 1rem;
  padding-right: 2.5rem;
  padding-left: 1.5rem;
  border-radius: 10px;
  margin-right: 0.8rem;
  color: white;
  position: relative;
}
.demo-btn svg {
  position: absolute;
  top: 1.18rem;
}

.page-start {
  padding-bottom: 7rem;
}
