<div
  class="container flex flex-wrap gap-3 p-4 bg-neutral-400 rounded justify-center"
>
  <div
    *ngFor="let movie of movieList"
    class="rounded bg-neutral-300 flex flex-col w-[200px] rounded-t-xl overflow-hidden relative"
  >
    <img src="{{ movie.img }}" alt="{{ movie.name }} poster" />
    <div class="text-box p-4 flex flex-col justify-center items-center">
      <span>{{ movie.name }}</span>
      <span
        ><Span>{{ movie.status }}</Span></span
      >
      <span *ngIf="movie.rating !== null">
        <span class="text-yellow-600">{{ "#".repeat(movie.rating) }}</span>
        <span>{{ "#".repeat(5 - movie.rating) }}</span>
      </span>
      <button
        class="absolute text-2xl text-red-400 hover:text-red-600 bottom-0 right-2"
        (click)="deleteMovie(movie.id)"
      >
        x
      </button>
    </div>
  </div>
</div>
