.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.olive {
  background-color: olive;
}
.green {
  background-color: green;
}
.teal {
  background-color: teal;
}
