$primary: #2e8cad;

.section-one {
  background-image: url("assets/images/bg-1.png");
}

.circle {
  border: .13rem solid #2e8cad;
  width:24px;
  height: 24px;
  display: flex;
  justify-content: center;
}

#services {
  box-shadow: 0 1rem 30rem rgba(33, 37, 41, 0.175) inset !important;
}

#reviews {
  background-color: #95d4eb;
}

.flex-row {
  display: flex;
}
.starts {
  display: flex;
  justify-content: start;
  & img {
    padding-right: 5px;
  }
}

footer {
  padding-bottom: 4rem;
  background-color: #47626b;
}
.--mitr * {
  font-family: "Mitr";
  font-weight: bolder;
}
.--poppins * {
  font-family: "Poppins";
  font-weight:bolder;
}

.--white {
  color: white;
}

.fs-14 {
  font-size: 14px;
}
.fs-48 * {
  font-size: 48px !important;
}
