* {
  box-sizing: border-box;
  margin: 0 ;
  font-family: "Hind Siliguri";
}

body {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav nav{
  display: flex;
  justify-content: space-between;
}

.promo-header {
  width: 100%;
  padding-top: 92px;
  background-color: orange;
}
.promo-img img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.promo-main {
  width: 100%;
  background-color: white;
  display: inline-block;
}

.promo-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 0 70px 0;
}

.title {
  color: #292830;
  font-size: 64px;
  line-height: 70px;
}

.text{
  color: #BDBDBD;
}

.segment{
  display: flex;
  justify-content: center;
  align-items: center;
}