<nav class="pb-6">
  <ul class="flex gap-2 justify-evenly bg-gray-300 py-6 shadow-inner text-slate-800 text-lg">
    <li>
      <a
        class="bg-slate-400 px-4 py-2 rounded hover:bg-gray-500 hover:shadow-inner hover:text-gray-200"
        routerLink="/"
        routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a
        class="bg-slate-400 px-4 py-2 rounded hover:bg-gray-500 hover:shadow-inner hover:text-gray-200"
        routerLink="/movies"
        routerLinkActive="active"
        >Movies App</a
      >
    </li>
    <li>
      <a
        class="bg-slate-400 px-4 py-2 rounded hover:bg-gray-500 hover:shadow-inner hover:text-gray-200"
        routerLink="/animals"
        >Animals App</a
      >
    </li>
  </ul>
</nav>

<div class="container m-auto px-20 pb-10 text-lg">
  <router-outlet> </router-outlet>
</div>
